<% include ../components/global/head %>
<section class="head" style="width: 100%; height: 100vh;">

</section>
<% include ../components/global/header %>




<section class="section bg-white first-section ">

</section>

<section class="section first">
    <% include ../components/index %>
</section>

<section class="section">
    <% include ../components/animation %>
</section>
<% include ../components/global/footer %>
<% include ../components/global/foot %>

