<% include ../components/global/head %>
<% include ../components/global/header %>
<section class="section">
    <% include ../components/animation %>
</section>
<% include ../components/global/footer %>
<% include ../components/global/foot %>

