<div class="container">
    <div class="section-title">
        <h2>WELCOME</h2>
    </div>


    <div class="animscrean">
        <svg
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 447.98666 313.58667"
                width="1000px"d
                xml:space="preserve"
                id="svg-mac"
                version="1.1"><metadata
                    id="metadata4130"><rdf:RDF><cc:Work
                            rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
                                rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
                    id="defs4128"><clipPath
                        id="clipPath4226"
                        clipPathUnits="userSpaceOnUse"><path
                            id="path4224"
                            d="m 2503.22,1136.54 c 0,-142.22 -115.27,-257.501 -257.5,-257.501 -142.2,0 -257.48,115.281 -257.48,257.501 0,142.21 115.28,257.48 257.48,257.48 142.23,0 257.5,-115.27 257.5,-257.48" /></clipPath></defs><g

                    transform="matrix(1.3333333,0,0,-1.3333333,0,313.58667)"
                    id="g4132"><g
                        transform="scale(0.1)"
                        id="g4134"><path
                            id="path4148"
                            style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                            d="m 946.207,1869.62 v 0 0" /><g
                            transform="translate(1500,150)"
                            id="ecran"><path
                                d="m 254.16,662.102 c 0,0 -19.22,19.968 -43.42,41.628 -24.18,21.649 -20.78,37.559 -20.78,37.559 l -6.52,86.352 h -305.12001 l -6.49,-86.352 c 0,0 3.41,-15.91 -20.8,-37.559 -24.18,-21.66 -43.39,-41.628 -43.39,-41.628 0,0 -2.81,-4.821 -2.81,-11.661 0,-6.832 4.04,-7.14 20.77,-7.14 14.8,0 166.1700062,0 201.570006,0 4.71,0 7.43,0 7.43,0 35.4,0 186.770004,0 201.550004,0 16.76,0 20.78,0.308 20.78,7.14 0,6.84 -2.77,11.661 -2.77,11.661"
                                style="fill:#cecdcf;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4140" /><path
                                d="M 670,1814.88 H -608.24001 c -52.768,0 -95.553,-42.79 -95.553,-95.54 V 875.32 c 0,-52.789 42.785,-95.539 95.553,-95.539 H 670 c 52.77,0 95.57,42.75 95.57,95.539 v 844.02 c 0,52.75 -42.8,95.54 -95.57,95.54"
                                style="fill:#dcdbdd;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4144" /><path
                                d="M -703.79301,1719.34 V 951.93 H 765.57 v 767.41 c 0,5.93 -0.59,11.73 -1.61,17.37 H -702.18701 c -1.04,-5.64 -1.606,-11.44 -1.606,-17.37"
                                style="fill:#4e4e4e;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4152" /><path
                                d="M -652.84801,1672.69 V 1000.75 H 714.61 v 671.94 c 0,5.19 -0.53,10.26 -1.48,15.2 H -651.34801 c -0.964,-4.94 -1.5,-10.01 -1.5,-15.2"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4154" /></g><g
                            transform="translate(3.7500001e-6,150)"
                            id="clavier"><path
                                d="m 2136.25,226.309 c 0,-24.231 -19.12,-43.868 -42.71,-43.868 H 938.254 c -23.574,0 -42.703,19.637 -42.703,43.868 V 545.68 c 0,24.238 19.129,43.879 42.703,43.879 H 2093.54 c 23.59,0 42.71,-19.641 42.71,-43.879 V 226.309"
                                style="fill:#4e4e4e;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4298" /><path
                                d="m 1015.12,503.789 c 0,-11.211 -9.19,-20.418 -20.425,-20.418 h -20.207 c -11.242,0 -20.433,9.207 -20.433,20.418 v 20.25 c 0,11.223 9.191,20.422 20.433,20.422 h 20.207 c 11.235,0 20.425,-9.199 20.425,-20.422 v -20.25"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4300" /><path
                                d="m 1120.13,503.789 c 0,-11.211 -9.2,-20.418 -20.43,-20.418 h -20.21 c -11.23,0 -20.42,9.207 -20.42,20.418 v 20.25 c 0,11.223 9.19,20.422 20.42,20.422 h 20.21 c 11.23,0 20.43,-9.199 20.43,-20.422 v -20.25"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4302" /><path
                                d="m 1225.14,503.789 c 0,-11.211 -9.19,-20.418 -20.43,-20.418 h -20.21 c -11.22,0 -20.43,9.207 -20.43,20.418 v 20.25 c 0,11.223 9.21,20.422 20.43,20.422 h 20.21 c 11.24,0 20.43,-9.199 20.43,-20.422 v -20.25"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4304" /><path
                                d="m 1330.15,503.789 c 0,-11.211 -9.19,-20.418 -20.43,-20.418 h -20.2 c -11.25,0 -20.43,9.207 -20.43,20.418 v 20.25 c 0,11.223 9.18,20.422 20.43,20.422 h 20.2 c 11.24,0 20.43,-9.199 20.43,-20.422 v -20.25"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4306" /><path
                                d="m 1435.16,503.789 c 0,-11.211 -9.2,-20.418 -20.43,-20.418 h -20.22 c -11.22,0 -20.42,9.207 -20.42,20.418 v 20.25 c 0,11.223 9.2,20.422 20.42,20.422 h 20.22 c 11.23,0 20.43,-9.199 20.43,-20.422 v -20.25"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4308" /><path
                                d="m 1540.18,503.789 c 0,-11.211 -9.2,-20.418 -20.44,-20.418 h -20.2 c -11.24,0 -20.43,9.207 -20.43,20.418 v 20.25 c 0,11.223 9.19,20.422 20.43,20.422 h 20.2 c 11.24,0 20.44,-9.199 20.44,-20.422 v -20.25"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4310" /><path
                                d="m 1645.17,503.789 c 0,-11.211 -9.17,-20.418 -20.43,-20.418 h -20.19 c -11.23,0 -20.43,9.207 -20.43,20.418 v 20.25 c 0,11.223 9.2,20.422 20.43,20.422 h 20.19 c 11.26,0 20.43,-9.199 20.43,-20.422 v -20.25"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4312" /><path
                                d="m 1750.2,503.789 c 0,-11.211 -9.2,-20.418 -20.45,-20.418 h -20.18 c -11.25,0 -20.45,9.207 -20.45,20.418 v 20.25 c 0,11.223 9.2,20.422 20.45,20.422 h 20.18 c 11.25,0 20.45,-9.199 20.45,-20.422 v -20.25"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4314" /><path
                                d="m 1015.12,418.512 c 0,-11.231 -9.19,-20.434 -20.425,-20.434 h -20.207 c -11.242,0 -20.433,9.203 -20.433,20.434 v 20.238 c 0,11.25 9.191,20.43 20.433,20.43 h 20.207 c 11.235,0 20.425,-9.18 20.425,-20.43 v -20.238"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4316" /><path
                                d="m 1120.13,418.512 c 0,-11.231 -9.2,-20.434 -20.43,-20.434 h -20.21 c -11.23,0 -20.42,9.203 -20.42,20.434 v 20.238 c 0,11.25 9.19,20.43 20.42,20.43 h 20.21 c 11.23,0 20.43,-9.18 20.43,-20.43 v -20.238"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4318" /><path
                                d="m 1225.14,418.512 c 0,-11.231 -9.19,-20.434 -20.43,-20.434 h -20.21 c -11.22,0 -20.43,9.203 -20.43,20.434 v 20.238 c 0,11.25 9.21,20.43 20.43,20.43 h 20.21 c 11.24,0 20.43,-9.18 20.43,-20.43 v -20.238"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4320" /><path
                                d="m 1330.15,418.512 c 0,-11.231 -9.19,-20.434 -20.43,-20.434 h -20.2 c -11.25,0 -20.43,9.203 -20.43,20.434 v 20.238 c 0,11.25 9.18,20.43 20.43,20.43 h 20.2 c 11.24,0 20.43,-9.18 20.43,-20.43 v -20.238"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4322" /><path
                                d="m 1435.16,418.512 c 0,-11.231 -9.2,-20.434 -20.43,-20.434 h -20.22 c -11.22,0 -20.42,9.203 -20.42,20.434 v 20.238 c 0,11.25 9.2,20.43 20.42,20.43 h 20.22 c 11.23,0 20.43,-9.18 20.43,-20.43 v -20.238"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4324" /><path
                                d="m 1540.18,418.512 c 0,-11.231 -9.2,-20.434 -20.44,-20.434 h -20.2 c -11.24,0 -20.43,9.203 -20.43,20.434 v 20.238 c 0,11.25 9.19,20.43 20.43,20.43 h 20.2 c 11.24,0 20.44,-9.18 20.44,-20.43 v -20.238"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4326" /><path
                                d="m 1645.17,418.512 c 0,-11.231 -9.17,-20.434 -20.43,-20.434 h -20.19 c -11.23,0 -20.43,9.203 -20.43,20.434 v 20.238 c 0,11.25 9.2,20.43 20.43,20.43 h 20.19 c 11.26,0 20.43,-9.18 20.43,-20.43 v -20.238"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4328" /><path
                                d="m 1750.2,418.512 c 0,-11.231 -9.2,-20.434 -20.45,-20.434 h -20.18 c -11.25,0 -20.45,9.203 -20.45,20.434 v 20.238 c 0,11.25 9.2,20.43 20.45,20.43 h 20.18 c 11.25,0 20.45,-9.18 20.45,-20.43 v -20.238"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4330" /><path
                                d="m 1867.71,503.789 c 0,-11.211 -9.17,-20.418 -20.42,-20.418 h -20.2 c -11.25,0 -20.45,9.207 -20.45,20.418 v 20.25 c 0,11.223 9.2,20.422 20.45,20.422 h 20.2 c 11.25,0 20.42,-9.199 20.42,-20.422 v -20.25"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4332" /><path
                                d="m 1972.73,503.789 c 0,-11.211 -9.19,-20.418 -20.43,-20.418 h -20.21 c -11.23,0 -20.43,9.207 -20.43,20.418 v 20.25 c 0,11.223 9.2,20.422 20.43,20.422 h 20.21 c 11.24,0 20.43,-9.199 20.43,-20.422 v -20.25"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4334" /><path
                                d="m 2077.73,503.789 c 0,-11.211 -9.18,-20.418 -20.41,-20.418 h -20.21 c -11.23,0 -20.43,9.207 -20.43,20.418 v 20.25 c 0,11.223 9.2,20.422 20.43,20.422 h 20.21 c 11.23,0 20.41,-9.199 20.41,-20.422 v -20.25"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4336" /><path
                                d="m 1867.71,418.512 c 0,-11.231 -9.17,-20.434 -20.42,-20.434 h -20.2 c -11.25,0 -20.45,9.203 -20.45,20.434 v 20.238 c 0,11.25 9.2,20.43 20.45,20.43 h 20.2 c 11.25,0 20.42,-9.18 20.42,-20.43 v -20.238"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4338" /><path
                                d="m 2064.18,418.512 c 0,-11.231 -9.2,-20.434 -20.43,-20.434 h -111.66 c -11.23,0 -20.43,9.203 -20.43,20.434 v 20.238 c 0,11.25 9.2,20.43 20.43,20.43 h 111.66 c 11.23,0 20.43,-9.18 20.43,-20.43 v -20.238"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4340" /><path
                                d="m 2077.73,418.512 c 0,-11.231 -9.18,-20.434 -20.41,-20.434 h -20.21 c -11.23,0 -20.43,9.203 -20.43,20.434 v 20.238 c 0,11.25 9.2,20.43 20.43,20.43 h 20.21 c 11.23,0 20.41,-9.18 20.41,-20.43 v -20.238"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4342" /><path
                                d="m 1972.73,333.219 c 0,-11.231 -9.19,-20.418 -20.43,-20.418 h -20.21 c -11.23,0 -20.43,9.187 -20.43,20.418 v 20.261 c 0,11.219 9.2,20.418 20.43,20.418 h 20.21 c 11.24,0 20.43,-9.199 20.43,-20.418 v -20.261"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4344" /><path
                                d="m 1867.71,247.961 c 0,-11.242 -9.17,-20.43 -20.42,-20.43 h -20.2 c -11.25,0 -20.45,9.188 -20.45,20.43 v 20.219 c 0,11.23 9.2,20.429 20.45,20.429 h 20.2 c 11.25,0 20.42,-9.199 20.42,-20.429 v -20.219"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4346" /><path
                                d="m 1972.73,247.961 c 0,-11.242 -9.19,-20.43 -20.43,-20.43 h -20.21 c -11.23,0 -20.43,9.188 -20.43,20.43 v 20.219 c 0,11.23 9.2,20.429 20.43,20.429 h 20.21 c 11.24,0 20.43,-9.199 20.43,-20.429 v -20.219"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4348" /><path
                                d="m 2077.73,247.961 c 0,-11.242 -9.18,-20.43 -20.41,-20.43 h -20.21 c -11.23,0 -20.43,9.188 -20.43,20.43 v 20.219 c 0,11.23 9.2,20.429 20.43,20.429 h 20.21 c 11.23,0 20.41,-9.199 20.41,-20.429 v -20.219"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4350" /><path
                                d="m 1113.1,333.219 c 0,-11.231 -9.19,-20.418 -20.43,-20.418 H 974.488 c -11.242,0 -20.433,9.187 -20.433,20.418 v 20.261 c 0,11.219 9.191,20.418 20.433,20.418 h 118.182 c 11.24,0 20.43,-9.199 20.43,-20.418 v -20.261"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4352" /><path
                                d="m 1120.13,333.219 c 0,-11.231 -9.2,-20.418 -20.43,-20.418 h -20.21 c -11.23,0 -20.42,9.187 -20.42,20.418 v 20.261 c 0,11.219 9.19,20.418 20.42,20.418 h 20.21 c 11.23,0 20.43,-9.199 20.43,-20.418 v -20.261"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4354" /><path
                                d="m 1225.14,333.219 c 0,-11.231 -9.19,-20.418 -20.43,-20.418 h -20.21 c -11.22,0 -20.43,9.187 -20.43,20.418 v 20.261 c 0,11.219 9.21,20.418 20.43,20.418 h 20.21 c 11.24,0 20.43,-9.199 20.43,-20.418 v -20.261"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4356" /><path
                                d="m 1330.15,333.219 c 0,-11.231 -9.19,-20.418 -20.43,-20.418 h -20.2 c -11.25,0 -20.43,9.187 -20.43,20.418 v 20.261 c 0,11.219 9.18,20.418 20.43,20.418 h 20.2 c 11.24,0 20.43,-9.199 20.43,-20.418 v -20.261"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4358" /><path
                                d="m 1435.16,333.219 c 0,-11.231 -9.2,-20.418 -20.43,-20.418 h -20.22 c -11.22,0 -20.42,9.187 -20.42,20.418 v 20.261 c 0,11.219 9.2,20.418 20.42,20.418 h 20.22 c 11.23,0 20.43,-9.199 20.43,-20.418 v -20.261"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4360" /><path
                                d="m 1540.18,333.219 c 0,-11.231 -9.2,-20.418 -20.44,-20.418 h -20.2 c -11.24,0 -20.43,9.187 -20.43,20.418 v 20.261 c 0,11.219 9.19,20.418 20.43,20.418 h 20.2 c 11.24,0 20.44,-9.199 20.44,-20.418 v -20.261"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4362" /><path
                                d="m 1645.17,333.219 c 0,-11.231 -9.17,-20.418 -20.43,-20.418 h -20.19 c -11.23,0 -20.43,9.187 -20.43,20.418 v 20.261 c 0,11.219 9.2,20.418 20.43,20.418 h 20.19 c 11.26,0 20.43,-9.199 20.43,-20.418 v -20.261"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4364" /><path
                                d="m 1750.2,333.219 c 0,-11.231 -9.2,-20.418 -20.45,-20.418 h -20.18 c -11.25,0 -20.45,9.187 -20.45,20.418 v 20.261 c 0,11.219 9.2,20.418 20.45,20.418 h 20.18 c 11.25,0 20.45,-9.199 20.45,-20.418 v -20.261"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4366" /><path
                                d="m 1015.12,247.961 c 0,-11.242 -9.19,-20.43 -20.425,-20.43 h -20.207 c -11.242,0 -20.433,9.188 -20.433,20.43 v 20.219 c 0,11.23 9.191,20.429 20.433,20.429 h 20.207 c 11.235,0 20.425,-9.199 20.425,-20.429 v -20.219"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4368" /><path
                                d="m 1120.13,247.961 c 0,-11.242 -9.2,-20.43 -20.43,-20.43 h -20.21 c -11.23,0 -20.42,9.188 -20.42,20.43 v 20.219 c 0,11.23 9.19,20.429 20.42,20.429 h 20.21 c 11.23,0 20.43,-9.199 20.43,-20.429 v -20.219"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4370" /><path
                                d="m 1540.18,247.961 c 0,-11.242 -9.2,-20.43 -20.44,-20.43 H 1184.5 c -11.22,0 -20.43,9.188 -20.43,20.43 v 20.219 c 0,11.23 9.21,20.429 20.43,20.429 h 335.24 c 11.24,0 20.44,-9.199 20.44,-20.429 v -20.219"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4372" /><path
                                d="m 1645.17,247.961 c 0,-11.242 -9.17,-20.43 -20.43,-20.43 h -20.19 c -11.23,0 -20.43,9.188 -20.43,20.43 v 20.219 c 0,11.23 9.2,20.429 20.43,20.429 h 20.19 c 11.26,0 20.43,-9.199 20.43,-20.429 v -20.219"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4374" /><path
                                d="m 1750.2,247.961 c 0,-11.242 -9.2,-20.43 -20.45,-20.43 h -20.18 c -11.25,0 -20.45,9.188 -20.45,20.43 v 20.219 c 0,11.23 9.2,20.429 20.45,20.429 h 20.18 c 11.25,0 20.45,-9.199 20.45,-20.429 v -20.219"
                                style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4376" /></g>
                    </g><g
                        style="opacity:0.98000004"
                        id="layer3"><g
                            transform="matrix(0.1,0,0,0.1,3.7500001e-7,15)"
                            id="sourie"><path
                                d="m 2502.79,302.871 c 0,-66.633 -54.02,-120.641 -120.64,-120.641 -66.6,0 -120.63,54.008 -120.63,120.641 V 466.18 c 0,66.629 54.03,120.629 120.63,120.629 66.62,0 120.64,-54 120.64,-120.629 V 302.871"
                                style="fill:#636363;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4378" /><path
                                d="M 2386.58,586.59 V 182.461 c 64.55,2.328 116.21,55.269 116.21,120.41 V 466.18 c 0,65.129 -51.66,118.05 -116.21,120.41"
                                style="fill:#4e4e4e;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4380" /></g><g
                            id="g4910"
                            transform="matrix(0.1,0,0,0.1,3.7500001e-7,15)"><path
                                id="path4906"
                                style="fill:#636363;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                d="m 2502.79,302.871 c 0,-66.633 -54.02,-120.641 -120.64,-120.641 -66.6,0 -120.63,54.008 -120.63,120.641 V 466.18 c 0,66.629 54.03,120.629 120.63,120.629 66.62,0 120.64,-54 120.64,-120.629 V 302.871" /><path
                                id="path4908"
                                style="fill:#4e4e4e;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                d="M 2386.58,586.59 V 182.461 c 64.55,2.328 116.21,55.269 116.21,120.41 V 466.18 c 0,65.129 -51.66,118.05 -116.21,120.41" /></g><g
                            transform="matrix(0.1,0,0,0.1,3.7500001e-7,15)"
                            id="g4916"><path
                                d="m 2502.79,302.871 c 0,-66.633 -54.02,-120.641 -120.64,-120.641 -66.6,0 -120.63,54.008 -120.63,120.641 V 466.18 c 0,66.629 54.03,120.629 120.63,120.629 66.62,0 120.64,-54 120.64,-120.629 V 302.871"
                                style="fill:#636363;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4912" /><path
                                d="M 2386.58,586.59 V 182.461 c 64.55,2.328 116.21,55.269 116.21,120.41 V 466.18 c 0,65.129 -51.66,118.05 -116.21,120.41"
                                style="fill:#4e4e4e;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                id="path4914" /></g></g><g
                        id="layer1" /><g
                        id="layer2" /></g></svg>
    </div>
</div>