<style>
    .page-liste-table td{
        font-size: 20px;
    }
    .page-liste-table th{
        font-size: 28px;
    }
</style>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Intégration</h2>
                <table class="page-liste-table table table-striped">
                    <thead>
                        <tr>
                            <th>PAGES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="home.html">Accueil</a></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="ui.html">UI</a>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h2>Workflow</h2>

                    <code style="display:block; background-color: #f9f2f4; padding: 10px; ">
                        <strong>$ gulp</strong> ( Watch and build )<br>
                        <strong>$ gulp app</strong> ( compress & copy on theme )
                    </code>

            </div>
        </div>
    </div>
</section>